# eclipse
bin
*.launch
.metadata
.classpath
.project
.settings/*

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
.gradle
build/classes
build/libs
build/resources/
build/tmp
build/reports

#JVM
hs_err_pid*.log

#Run
/run*
/backups

# output
gameData/
out.txt
run:log.txt
